<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="container-base">

    <div class="content-page">
        <div class="card-header">
            <div class="card-title">
                Cadastro de Produto
            </div>
        </div>

        <form class="form-page" [formGroup]="form" (submit)="enviar()">

            <div class="row">
                <div class="group-row">
                    <label>Nome</label>
                    <input type="text" name="name" id="name" formControlName="nome" required />
                    <label class="error-input" *ngIf="form.get('nome')?.errors?.['required'] &&
                    form.get('nome')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>NCM</label>
                    <input type="text" name="name" id="ncm" formControlName="ncm" required />
                    <label class="error-input" *ngIf="form.get('ncm')?.errors?.['required'] &&
                    form.get('ncm')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Código de barras</label>
                    <input type="text" name="codigoBarras" id="codigoBarras" formControlName="codigoBarras" required />
                    <label class="error-input" *ngIf="form.get('codigoBarras')?.errors?.['required'] &&
                    form.get('codigoBarras')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Preço de custo</label>
                    <input type="text" name="precoCusto" id="precoCusto" formControlName="precoCusto" required />
                    <label class="error-input" *ngIf="form.get('precoCusto')?.errors?.['required'] &&
                    form.get('precoCusto')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Preço de venda</label>
                    <input type="text" name="precoVenda" id="precoVenda" formControlName="precoVenda" required />
                    <label class="error-input" *ngIf="form.get('precoVenda')?.errors?.['required'] &&
                    form.get('precoVenda')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <input type="submit" value="Salvar" class="btn-primary" />
                </div>
            </div>

        </form>

    </div>

</div>